.content {
    display: flex;
    background-color: #20212C;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.content label {
    color: #CCC;
}

.content input {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}